@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html,
body {
   padding: 0;
   margin: 0;
   font-family: 'Montserrat', sans-serif;

   &:before {
      content: '';
      content: "";
      width: 100%;
      height: 100vh;
      //background: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e, #32b37b);
      // background: #D3D3D3;
      background-image: url("../public/bg.jpg");
      position: fixed;
      left: 0;
      top: 0;
      z-index: -1;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
   }
}

.text-shadow {
   text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post {
   & .arrow-btn {
      transition: width 300ms ease;
      width: 50px;
   }

   &:hover {
      & .arrow-btn {
         width: 60px;
      }
   }
}

.react-multi-carousel-list {
   & .arrow-btn {
      transition: width 300ms ease;
      width: 50px;

      &:hover {
         width: 60px;
      }
   }

}

a {
   color: inherit;
   text-decoration: none;
}

* {
   box-sizing: border-box;
}

.maincontent p,
.maincontent ul,
.maincontent ol {
   margin-bottom: 1em;
   line-height: 26px;
}

.maincontent ul li,
.maincontent ol li {
   list-style-type: disc;
   margin-left: 2em;
   margin-bottom: 0.5em;
}







.maincontent table {
   & {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 1em;
   }
   & p {
      margin: 0;
      padding: 0;
   }
   & td, th {
      padding: 15px;
   }

   & thead td, thead th {
      background-color: #54585d;
      color: #ffffff;
      text-align: left;
      font-weight: bold;
      border: 1px solid #54585d;
   }

   & tbody td {
      color: #636363;
      border: 1px solid #dddfe1;
   }

   & tbody tr {
      background-color: #f9fafb;
   }

   & tbody tr:nth-child(odd) {
      background-color: #ffffff;
   }
}

.maincontent a {
   color: blue;
   text-decoration: underline;
}

@tailwind base;
@tailwind components;
@tailwind utilities;